body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn1{
    padding: 10px;
    border: 3px solid #fefefe;
    border-radius:7px;
    color: #fefefe;
    background: RGB(85, 180, 176);
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.btn1:hover {

    background: rgb(0,0,0);
}



